* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #DCF3E7;
}

section {
    height: 100vh;
    display: flex;
}

h2 {
    font-size: 50px;
    color: #1E1E1E;
}

a {
    color: #1E1E1E;
}

.Links {
    display: flex;

}

.icon {
    display: flex;
    align-items: center;
}

.icon img {
    height: 50px;
}

.Descricao {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Perfil h2 {
    width: 260px;
    height: 55px;
    color: #ffffff;
}

.text {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.text p {
    color: #1E1E1E;
    max-width: 600px;
    height: 200px;
    margin: 0 auto;

}

.Perfil {
    width: 100%;
    height: 36%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0B362C;
}

.img {
    width: 200px;
    height: 200px;
    margin-right: 80px;
}

.img img {
    width: 210px;
    height: 210px;
    border-radius: 50%;
}


.Habilidades,
.Projetos {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Habilidades h2 {
    margin-bottom: 20px;
}

.Habilidades p {
    margin-top: -60px;
    text-align: center;
}

.ListProjetos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.Projeto {
    width: 200px;
    height: 216px;
    padding-top: 20px;
    color: #DCF3E7;
    display: flex;
    justify-content: center;
    background-color: #1E1E1E;
}